*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: black;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    width: 100vw;
    border-bottom: 2px solid #dddddd;
    text-align: center;
}

.admin-content{
    padding-top: 50px;
    display: flex;
}

.admin-content-left{
    background-color: #dddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}

.admin-content-left> ul> li> a{
    font-weight: bold;
}

.admin-content-left ul li{
    margin: 6px 0;
}

.admin-content-left ul ul{
    margin-left: 20px;
}

.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;    
}

.container{
    width: 80%;
    margin: 0 auto;    
}

.input{
    height: 30px;
    width: 60%;
    padding-left: 10px;
    margin-top: 15px;
}

.button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: wheat;
    border-radius: 3px;
    transition:  all 0.2s ease;
}

.button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}

.menu {
    text-align: center;
    width: auto;
}

.menu ul {
    display: inline-block;
    margin: 0 auto;
}

.menu ul li {
    display: block;
    float: left;
    width: 140px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    color: gray;
}

.menu ul li a:hover {
    font-weight: bold;
    color: black;
}

.active {
    font-weight: bold;
    color: black !important;
}