*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: black;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    width: 100vw;
    border-bottom: 2px solid #dddddd;
    text-align: center;
}

.admin-content{
    padding-top: 50px;
    display: flex;
}

.admin-content-left{
    background-color: #dddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}

.admin-content-left> ul> li> a{
    font-weight: bold;
}

.admin-content-left ul li{
    margin: 6px 0;
}

.admin-content-left ul ul{
    margin-left: 20px;
}

.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;    
}

.container{
    width: 90%;
    margin: 0 auto;   
}

.input{
    height: 30px;
    width: 60%;
    padding-left: 10px;
    margin-top: 15px;
}

.button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: wheat;
    border-radius: 3px;
    transition:  all 0.2s ease;
}
.button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}
/* ---------css for list product------------ */
.table{
    width: 100%;
    height: 150px;
    margin-top: 15px;    
}

.table th {
    background-color: #efefef;
}

.table th, td{
    text-align: center;
    height: 30px;
}

.table img{
    width: 100px;
    height: 90px;    
}

.menu {
    text-align: center;
    width: auto;
}

.menu ul {
    display: inline-block;
    margin: 0 auto;
}

.menu ul li {
    display: block;
    float: left;
    width: 140px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    color: gray;
}

.menu ul li a:hover {
    font-weight: bold;
    color: black;
}

.active {
    font-weight: bold;
    color: black !important;
}

.btn {
    border: 0;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.primary {
    background-color: rgb(50, 127, 243);
    color: #fff;
}

.fm-primary {
    padding-top: 8px;
    padding-bottom: 8px;
}

.primary:hover{
    background-color: rgb(9, 86, 202);
}

.error {
    background-color: rgb(236, 55, 55);
    color: #fff;
}

.error:hover {
    background-color: rgb(187, 1, 1);
}

/* css for login form */
.container-login {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/backgroud/login.webp);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: table;
}

.container-login .login-form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.login-form .form-container {
    width: 350px;
    height: 400px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
}

.form-container .title-login {
    margin: 50px 0 50px 0;
}

.form-container .input-component {
    margin-bottom: 35px;
}

.input-component .input-login {
    width: 80%;
    height: 35px;
    border: none;
    border-bottom: 1px solid gray;
}

.input-component .input-submit-login {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(138, 138, 229) , rgb(233, 58, 87));
    color: #fff;
    font-weight: bold;
    transition: 0.1s all;
    font-size: 18px;
}

.input-component .input-submit-login:hover{
    cursor: pointer;
    width: 78%;
    font-size: 16px;
}

.text-error {
    color: red;
}

.text-success {
    color: green;
}

.error-login {
    font-size: 12px;
}